.PhoneNumber {
  color: #fff; /* черный цвет текста */
  text-decoration: none; /* удаление подчеркивания */
  font-weight: bold; /* жирный шрифт */
  //font-size: 16px; /* размер шрифта 16 пикселей */
  white-space: nowrap;
}