@import "../../scss/common/variables";
.Card {
  &.MuiCard-root {

    width: 100%;
    height: 100%;
    border-radius: 20px;
    max-width: 600px;
    background-color: rgba(240, 255, 255, 0.9);
  }
  &.MuiCardContent-root {
    max-width: 400px;
  }
  &-Wrapper {
    &.MuiGrid-item {
      display: grid;
      justify-content: center;
      //align-items: center;
      //align-content: center;
    }
  }
  &-Title {
    &.MuiTypography-root {
      font-family: $default-font;
      font-size: 18px;
      font-weight: 700;
      //width: 100%;
      //height: 100%;
      text-align: center;
      //justify-content: center;
      //justify-items: center;
      //align-items: center;
      //align-content: center;
    }

  }
  &-Description {
    &.MuiTypography-root {
      font-family: $default-font;
      text-align: justify;
    }
  }


}