@import "../../scss/common/variables";
.Toolbar {
  max-width: 1200px;

  &.MuiToolbar-root {
    padding: 0;
    height: 6vh;
    width: 100%;
    max-width: 1200px;

  }

  &-Description {
    &.MuiTypography-root {
      font-size: clamp(15px, 2vw, 20px);
      font-family: $default-font

    }
  }

  &-Button {

    &.MuiButton-root {
      font-family: $default-font;
      margin-left: clamp(10px, 4vw, 30px);
      margin-right: clamp(10px, 4vw, 30px);
      background-color: #154B52;
      transition: opacity ease .2s, background-color ease .2s;
    }


  }

  &-Button:hover {
    &.MuiButton-root {
      cursor: pointer;
      opacity: 0.5;
      background-color: #154B52;
    }

  }

  &-Info {
    margin: 20px 20px 0 20px;
    max-width: 1500px;
    justify-content: space-around;
    position: relative;

    &.MuiStack-root {
      flex-direction: row;
    }

  }

  &-Wrapper {
    &.MuiAppBar-root {
      position: relative;
      align-items: center;
      background-color: #1C8394;
    }
  }


  //&-Icon {
  //  &.MuiIconButton-root {
  //    display: none;
  //  }
  //
  //}

  &-Title {
    &.MuiTypography-root {
      padding-left: 20px;
      font-style: italic;
      max-width: 310px;
      font-family: $default-font, cursive;
      //font-size: 48px;
      font-size: clamp(25px, 3vw, 45px);
      display: flex;
      justify-content: center;
      align-items: center;
      flex-grow: 1;
    }
  }

  &-Subtitle {
    &.MuiTypography-root {
      padding-left: clamp(20px, 2vw, 30px);
      padding-right: clamp(20px, 2vw, 30px);
      font-style: italic;
      max-width: 200px;
      //min-width: 200px;

      font-size: clamp(22px, 2vw, 30px);
      font-family: $default-font;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-grow: 1;
    }
  }

  //&-Description {
  //
  //}

  &-Item {
    border-radius: 10px;

    transition: opacity ease .2s, background-color ease .2s;

    &.MuiTypography-root {
      font-family: $default-font;
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;

    }


    //&_active {
    //  opacity: 0.8;
    //  background-color: #1565c0;
    //}

  }


  &-Item:hover {
    cursor: pointer;
    opacity: 0.5;
    background-color: #154B52;
  }


}


@media (max-width: 1200px) {
  .Toolbar {
    &-Description {
      display: none;
    }
  }

}

@media (max-width: 768px) {
  .Toolbar {
    &.MuiToolbar-root {
      width: 100%;
    }

    &-Button {
      &.MuiButton-root {
        max-width: 150px;
        height: 40px;
        font-size: 11px;
        margin: 0;
      }
    }

    &-Subtitle {
      &.MuiTypography-root {
        padding-left: 10px;
        padding-right: 10px;

        font-size: 18px;

      }
    }
  }
}

@media (max-width: 645px) {
  .Toolbar {
    &-Button {
      &.MuiButton-root {
        display: none;
      }
    }



  }
}

@media (max-width: 475px) {
  .Toolbar {
    &-Subtitle {
      &.MuiTypography-root {
        display: none;

      }
    }

  }
}