.Footer {
  max-width: 1200px;
  color: #FFFFFF;
  margin: 10px;

  &.MuiToolbar-root {
    width: 100%;

  }

  &-Wrapper {
    width: 100%;

    &.MuiBottomNavigation-root {
      width: 100%;
      position: relative;
      background-color: #1C8394;
      height: auto;
    }
  }

  &-Button {

    &.MuiButton-root {
      margin-left: clamp(10px, 4vw, 30px);
      margin-right: clamp(10px, 4vw, 30px);
      background-color: #154B52;
      transition: opacity ease .2s, background-color ease .2s;
    }


  }

  &-Title {
    &.MuiTypography-root {
      padding-left: 20px;
      font-style: italic;
      max-width: 310px;
      font-family: cursive;
      //font-size: 48px;
      font-size: clamp(20px, 2vw, 45px);
      display: flex;
      justify-content: start;
      align-items: start;
      flex-grow: 1;
    }
  }


  &-Button:hover {
    &.MuiButton-root {
      cursor: pointer;
      opacity: 0.5;
      background-color: #154B52;
    }

  }
}

@media (max-width: 500px) {
  .Footer {
    &-Description {
    display: none;
    }
  }
}